/*
    colors used: 
    light blue #219dd1
    dark blue #243b6d

font-family: 'Ubuntu', sans-serif;
*/

header, nav, section, article, aside, footer, video, audio, main {
    display: block;
}

* {
    padding: 0;
    margin: 0;
}

#container {
    width:940px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size:16px;
}

body {
    height: 100%;
    background: linear-gradient(#219dd1, #fff);
}
#fly {
    position: absolute;
    top: 1px;
    left: 875px;
}

#clearIt {
    clear: both;
}
  
header {
    background: url(../images/sdsl_header-repeat.jpg) repeat-x top #243b6d;
}

nav {
    background-color: #243b6d;
}

nav ul li {
    display: inline-block;
    border: solid 1px white;
    color: #fff;
    padding: 5px 30px 5px 20px;
    margin: 0 5px 0 5px;
}

nav ul:first-child {
    padding: 0 10px 5px 20px;
}

nav a:link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:visited {
    color: #ccc;
    text-decoration: none;
    font-size: 1em;
}

nav ul li:hover {
    background-color: goldenrod;
    color: #243b6d;
}

nav ul li:active {
    background-color: goldenrod;
    color: #243b6d;
}

main h1 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 2;
    padding: 5px 5px 5px 25px;
    color: #fff;
    background-color: #243b6d;
    margin-bottom: 30px;
}

main img {
    float: right;
    margin: 0px 10px 0px 20px;
    border: solid 1px black;
}

p, main a{
    margin: 0 10px 20px 20px;
    color: black;
}

main a:hover {
    color: darkgoldenrod;
    text-decoration: underline;
}
main a:visited {
    color: forestgreen;
}

#sink {
    position: relative;
    float: left;
    margin-bottom: 20%;
}

footer {
    margin-top: 10px;
    background-color: #243b6d;
    padding: 10px;
    font-size: 1em;
    color: #fff;
    text-align: center;
}
